<main class="main">
  <div class="inner">
    <div class="place__wrapper">
      <p class="place__hedding">
        <%= @place.title %>
      </p>
      <%= link_to "by #{@place.user.name}", user_path(@place.user.id), class: :place__user %>
      <% if user_signed_in? && current_user.id == @place.user_id %>
        <div class="place__manage">
          <%= link_to "編集する", edit_place_path(@place.id),method: :get, class: :place__btn %>
          <%= link_to "削除する", place_path(@place.id),method: :delete, class: :place__btn %>
        </div>
      <% end %>
      <div class="place__image">
        <%= image_tag @place.image %>
      </div>
        <div class="place__detail">
          <p class="detail__title">案内</p>
          <p class="detail__message">
            <%= @place.concept %>
          </p>
        </div>
      </div>
      <div class="place__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@place, @comment] ,local: true do |f|%>
            <div class="field">
              <%= f.label :content, "コメント" %><br />
              <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>  
        <ul class="comments_lists">
            <li class="comments_list">
            <% @comments.each do |comment| %>
              <%= comment.content %>
              <%= link_to comment.user.name, user_path(comment.user.id), class: :comment_user %>
            </li>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
